@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(224, 224, 224);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    height: 100vh;
}


/* ####################### Dashboard */

.landing div {
    /* border: 2px solid black; */
}

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSection {
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    background-color: rgba(138, 255, 123, 0.64);
    box-shadow: -7px -7px 7px rgba(255, 255, 255, 0.25), 10px 10px 13px rgba(0, 0, 0, 0.25);
}

.user {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: .6em;
}

.user p {
    font-size: .9rem;
    margin-top: 1.4em;
}

.user i {
    font-size: 3rem;
    padding: .6em;
    /* border: 2px solid black; */
    border-radius: 50%;
    box-shadow: -7px -7px 7px rgba(255, 255, 255, 0.425), 10px 10px 13px rgba(0, 0, 0, 0.25)
}

.menu ul {
    transform: translateY(-20%);
}

.menu ul li {
    margin: 1em;
    padding: .5em 1em;
    /* border-radius: 8px; */
    transition: all ease-in .30s;
    border-bottom: 1px solid rgb(124, 124, 124);
}

.menu ul li:hover {
    border-radius: 8px;
    border-bottom: 1px solid rgba(138, 255, 123, 0.64);
    box-shadow: -10px -10px 13px rgba(255, 255, 255, 0.425), 10px 10px 13px rgba(0, 0, 0, 0.25);
}

.generate {
    font-size: 1rem;
    padding: .5em 2.3em;
    transform: translateY(-120%);
    border-radius: 6px;
    box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.425), 7px 7px 10px rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in;
}

.generate:hover {
    font-size: 1.05rem;
    box-shadow: -10px -10px 13px rgba(255, 255, 255, 0.425), 10px 10px 13px rgba(0, 0, 0, 0.25)
}

.rightSection {
    width: 80%;
    height: 100vh;
}

.topNav {
    width: 20%;
    margin: auto;
    position: absolute;
    top: 2rem;
    right: 10rem;
    /* transform: translate(20%, 30%); */
    box-shadow: -10px -10px 13px rgba(255, 255, 255, 0.795), 10px 10px 13px rgba(0, 0, 0, 0.25);
    padding: .5em;
    border-radius: 10px;
}

.topNav ul {
    display: flex;
    justify-content: space-around;
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.822), inset 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
}

.topNav ul li {
    /* border: 2px solid black; */
    padding: .5em;
    transition: all ease-out .15s;
}

.topNav ul li:hover {
    color: #EB6620;
}

.topNav ul li:nth-child(1) {
    /* border-right: 2px solid rgb(105, 105, 105); */
}

.stats {
    margin-top: 6em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chart {
    margin: 1.5em;
    width: 40%;
    height: 35vh;
    box-shadow: -10px -10px 13px rgba(255, 255, 255, 0.425), 10px 10px 13px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.small-screen {
    display: none;
    margin: 2em;
    padding: 1em;
    /* transform: translate(30%); */
}

@media (max-width:700px) {
    .landing {
        display: none;
    }
    .small-screen {
        display: block;
    }
}